@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 120px;
    }

    &__btn {
        padding: 0;

        cursor: pointer;
        background-color: transparent;
        border: none;
    }
}

.logo {
    margin: 0 auto;
}

.menu {
    padding-left: 35px;
    padding-right: 60px;

    &__list {
        display: flex;
    }

    &__list-item + .menu__list-item {
        padding-left: 80px;
    }

    &__list-link {
        @extend %title-font;

        color: rgba(54, 56, 56, 0.9);
        line-height: 22px;
    }
}

.footer {
    &__content {
        padding: 60px 0 80px;

        background-color: #dfdfdf;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        width: 540px;
    }

    &__info-title {
        @extend %title-font;

        margin-bottom: 14px;

        color: $title;
        line-height: 23px;
    }

    &__info-text {
        margin-bottom: 16px;
        max-width: 475px;
    }

    &__info-email {
        display: inline-block;
        position: relative;
        margin-bottom: 22px;
        padding-left: 30px;

        color: $title;
        font-size: 14px;
        font-weight: 600;
        &::before {
            content: "";
            position: absolute;
            top: 8px;
            left: 0;
            width: 16px;
            height: 12px;
            background-image: url(../images/envelope.svg);
        }
    }

    &__form {
        display: flex;
    }

    &__form-input {
        padding: 6px 10px 6px 18px;
        width: 100%;

        border-radius: 21px;
        border: 1px solid rgba($title, 0.7);
        background-color: transparent;

        &::placeholder {
            color: #a1a1a1;
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
        }
    }

    &__form-btn {
        margin-left: 9px;
        padding: 6px 12px;
        min-width: 160px;

        cursor: pointer;
        background-color: $title;
        border-radius: 21px;
        border: 1px solid $title;
        color: #fffff0;
        font-weight: 600;
    }

    &__social {
        margin-right: auto;
        margin-left: 100px;
        width: 125px;
    }

    &__social-link {
        position: relative;
        padding-left: 28px;
        &::before {
            content: "";
            position: absolute;
            top: 3px;
            left: 0;
            width: 16px;
            height: 16px;
        }
    }

    &__social-link--facebook::before {
        background-image: url(../images/facebook.svg);
    }

    &__social-link--instagram::before {
        top: 4px;
        width: 14px;
        height: 14px;

        background-image: url(../images/instagram.svg);
    }

    &__social-link--pinterest::before {
        background-image: url(../images/pinterest.svg);
    }

    &__social-link--whatsapp::before {
        width: 14px;
        height: 14px;

        background-image: url(../images/whatsapp.svg);
    }

    &__social-link--youtube::before {
        top: 4px;
        width: 18px;
        height: 12px;

        background-image: url(../images/youtube.svg);
    }

    &__social-item,
    &__menu-item {
        margin-bottom: 15px;
    }

    &__social-link,
    &__menu-link {
        color: #707070;
        font-size: 14px;
        font-weight: 600;
    }

    &__menu {
        margin-right: 60px;
        width: 125px;
    }

    &__copyright {
        padding: 42px 0 41px;

        background-color: $title;
        color: #a1a1a1;
        text-align: center;
    }
}

.rightside-menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 40px;
    width: 100%;
    max-width: 694px;

    background-color: #fff;
    box-shadow: -2px 3px 17px 0px #000;
    transition: all 0.5s;
    &.rightside-menu--close {
        transform: translateX(200%);
    }

    &__close {
        margin-left: 50px;
        margin-bottom: 60px;
        padding: 0;

        cursor: pointer;
        border: none;
        background-color: transparent;
    }

    &__logo {
        display: inline-block;
        margin-bottom: 40px;
    }

    &__content {
        margin: 0 auto;
        max-width: 485px;

        text-align: center;
    }

    &__title {
        @extend %title-font;

        position: relative;
        margin-bottom: 17px;
        padding-bottom: 17px;

        color: $title;
        font-size: 36px;
        line-height: 51px;

        &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            margin: 0 auto;
            height: 1px;
            min-width: 252px;

            background: #6d7278;
        }
    }

    &__text {
        margin-bottom: 75px;
    }

    &__img {
        max-width: 485px;
    }
}
